<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="2289Opportunity.81331195979C" Publisher="CN=22AA5D8B-590F-4C7F-807B-5166B66DDBE0" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="28dc07ff-b5d8-4f9a-b2be-7c28a3acaa6b" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>开卷阅读</DisplayName>
    <PublisherDisplayName>Opportunity</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="StartReader.App.App">
      <uap:VisualElements DisplayName="开卷阅读" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="开卷阅读是一个基于插件的小说阅读软件。" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="StartReader.DataProviderSource" Id="miaobige" DisplayName="妙笔阁（内置）" Description="北方有佳人，倾国又倾城" PublicFolder="Public">
            <uap3:Properties>
              <Url>https://www.miaobige.com/</Url>
              <AppService>miaobige</AppService>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="StartReader.ExtensionProvider.DefaultProvider">
          <uap:AppService Name="miaobige" />
        </uap:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="StartReader.DataProviderSource" Id="2kxs" DisplayName="2k小说" Description="— 小说·阅读·评论 —" PublicFolder="Public">
            <uap3:Properties>
              <Url>https://www.2kxs.com/</Url>
              <AppService>2kxs</AppService>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="StartReader.ExtensionProvider.DefaultProvider">
          <uap:AppService Name="2kxs" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="startreader.dataprovidersource">
            <uap:DisplayName>开卷阅读默认数据源</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap3:Extension Category="windows.appExtensionHost">
          <uap3:AppExtensionHost>
            <uap3:Name>StartReader.DataProviderSource</uap3:Name>
          </uap3:AppExtensionHost>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>